recursive-include communesplone *.css
recursive-include communesplone *.pt
recursive-include communesplone *.xml
recursive-include communesplone *.zcml
recursive-include docs *.GPL
recursive-include docs *.txt
